.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  position: static;
  height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border-style: solid;
  border-width: 1px;
  padding: 30px;
  margin: 10px;
}
.logo {
  display: flex;
  padding: 20px;
  text-align: center;
  float: left;
  border: solid;
  border-width: 1px;
  width: 20%;
}
.links {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  text-align: center;
  float: right;
  border-style: solid;
  border-width: 1px;
  width: 65%
}
.home-ad {
  height: 40%;
  width: auto;
}
a:link{
  text-decoration: none;
}
a :visited{
  text-decoration: none;
}
.user-card {
  border-style: solid;
  border-width: 1px;
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: 10px;
  justify-content: space-evenly;
  width: 60%;
}
.user-avatar {
  height: 80px;
}
.user-holder {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: auto;
  border-style: solid;
  border-width: 1px;
  padding: 30px;
}
.show-avatar {
  height: 65px;
  width: 40px;
}
.show-divs {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  padding: 15px;
  border-style: solid;
  border-width: 1px;
  margin: 10px;
}
.show-container {
  padding: 30px;
  width: 50%;
  margin: auto;
  border-style: solid;
  border-width: 1px;
}
.showpage-avatar {
  height: 400px;
}
#comment-input {
  width: 200px;
  height: 50px;
}
.comments-ul {
  list-style-type: none;
  border-style: solid;
  border-width: 1px;
  width: 40%;
  margin: auto;
  margin-top: 10px;
}
.comments-list-item {
  border-style: solid;
  border-width: 1px;
  height: auto;
  margin: 10px;
  padding: 5px;
  display: flex;
  flex-flow: row;
  align-content: center
}
.about-page{
  margin: auto;
  display: flex;
  align-content: center;
  text-align: center;
  width: 40%;
  flex-flow: column;
}
#cheers{
  float: right;
}
.shows-profile {
  border-style: solid;
  border-width: 1px;
  width: 70%;
  margin: auto;
  padding: 20px;
}
.new-show-form {
  border-style: solid;
  border-width: 1px;
  width: 40%;
  margin: auto;
  padding: 40px;
}
.select-genres {
  align-self: center;
  padding: 10px;
}
.all-shows-container {
  border-style: solid;
  border-width: 1px;
  width: 60%;
  margin: auto;
  display: flex;
  flex-flow: column;
}
.individual-show-div {
  justify-content: space-around;
  border: solid 1px black;
  display: flex;
  flex-flow: row;
}
.users-watching {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  float: right;
}
.shows-show-avatar{
  height: 150px;
  float: left;
  justify-content: flex-start;
}
.viewers-tag {
  justify-self: center
}